
.gb-container {
	height: 100%;
	background: green;
	width: 100%; /* same width as gb-scrollX */
	border: none;
	overflow-x: hidden; 
	overflow-y: hidden;
	position: relative;
}

.gb-scrollX {
	position: relative;
	top: 0px;
	height: 20px;
	background: purple;
	border: none;
	overflow-x: scroll; 
	overflow-y: hidden;
}

.gb-scrollY {
	position: relative;
	left: 0px;
	top: 0px;
	background: purple;
	width: 20px; 
	border: none;
	overflow-x: hidden; 
	overflow-y: scroll;
}


.divX {
	height: 20px; 
	}
.divY {
	width:20px; 
}

.gb-row {
	border: 2px black solid;
	background: red;
	margin-bottom: 10px;
	overflow: auto;
    
}

.gb-col {
	border: 2px black solid;
	background: red;
	margin-bottom:10px;
	margin-right:10px;
	overflow-y: auto;
	vertical-align: 0px;
	display: inline-block;
}

.gb-col-item {
	border: 0px black solid;
	background: orange;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0px;
	
}

.gb-row-item {
	border: 0px black solid;
	background: orange;
	margin-left: 5px;
	margin-right: 5px;
	padding: 0px;
	display: inline-block; 
	margin-top: 5px;
}